* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #000000;
    color: #FFFFFF;
}

body {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 500px;
}