@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// h1

@media (max-width: 767px) {
   h1 {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 44px;
        line-height: 120%;
        padding: 0;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0;
        margin-right: 0;
        color: #FFFFFF;
        background-color: transparent;
   }
}

@media (min-width: 768px) and (max-width: 1438px) {
    h1 {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 64px;
        line-height: 120%;
        padding: 0;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0;
        margin-right: 0;
        color: #FFFFFF;
        background-color: transparent;
    }
}

@media (min-width: 1439px) {
    h1 {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 64px;
        line-height: 120%;
        padding: 0;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0;
        margin-right: 0;
        color: #FFFFFF;
        background-color: transparent;
    }
}

// h2

@media (max-width: 767px) {
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        padding: 0;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0;
        margin-right: 0;
        color: #FFFFFF;
    }
}
 
@media (min-width: 768px) and (max-width: 1438px) {
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 120%;
        padding: 0;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0;
        margin-right: 0;
        color: #FFFFFF;
    }
}
 
@media (min-width: 1439px) {
    h2 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 32px;
        line-height: 120%;
        padding: 0;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0;
        margin-right: 0;
        color: #FFFFFF;
    }
}

// h3

@media (max-width: 767px) {
    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;
        padding: 0;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0;
        margin-right: 0;
        color: #FFFFFF;
    }
}
 
@media (min-width: 768px) and (max-width: 1438px) {
    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        padding: 0;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0;
        margin-right: 0;
        color: #FFFFFF;
    }
}
 
@media (min-width: 1439px) {
    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        padding: 0;
        margin-top: 12px;
        margin-bottom: 12px;
        margin-left: 0;
        margin-right: 0;
        color: #FFFFFF;
    }
}

// p

p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 12px; 
    padding: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 0;
    margin-right: 0;
    color: #FFFFFF75;
}

// a

a {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-decoration: none;
}

.loading {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #FFFFFF65;
    margin-top: 90px
}